# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

out
.*.swp
.vscode
build*


#Added by cargo
#
#already existing elements are commented out
/target
**/*.rs.bk

# Backup files
.DS_Store
thumbs.db
*~
*.swp
